<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/web-server/public/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Hi! My name is Akash.I have created this simple weather app so that you can get various info about the weather of a location.
            I have used Mapbox and Darksky API's to build this app.
            I hope You Like it.Cheers!!  </p>
        <img class="portrait" src="/img/me.png">
    </div>
    
    {{>footer}}
</body>

</html>